doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
	body
		block content
		script(src='http://code.jquery.com/jquery-2.1.0.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
		script(src='/javascripts/models/order-item.js')
		script(src='/javascripts/models/shopping-cart.js')
		script(src='/javascripts/models/inventory-item.js')
		script(src='/javascripts/models/inventory.js')
		script(src='/javascripts/views/order-item.js')
		script(src='/javascripts/views/shopping-cart.js')
		script(src='/javascripts/views/inventory-item.js')
		script(src='/javascripts/views/inventory.js')
		script(src='/javascripts/main.js')
